<!-- 通知一覧ページ -->
<div class="container recipe-index-contents">
    <div class="row">
		<div class="top-recipe-title">
            <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 閲覧履歴</p>
        </div>
    </div>
    <!-- 通知一覧部分 -->
    <%= render 'recipes/index', recipes: @recipes %>
	<div class="col-md-12 text-center index-back">
		<p><%= link_to "レシピ一覧に戻る", recipes_path, class: "top-button" %></p>
	</div>
</div>