<div class="container">
    <div class="row">
		<div class="col-xs-12 top-recipe-title">
            <h3><%= @title %></h3>
        </div>
        <%= render 'recipes/index', recipes: @recipes %>
		<div class="text-center">
			<%= paginate @recipes %>
		</div>
		<div class="col-md-12 text-center index-back">
			<p><%= link_to "レシピ一覧に戻る", root_path %></p>
		</div>
	</div>
</div>