<div class="container recipe-form">
  <div class="row">
      <h3><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> レシピを投稿する</h3>
  </div>
  <%= render 'layouts/error', model: @recipe %>
  <%= render 'form' %>
</div>