<% if user_signed_in? %>
    <% if user != current_user %>
  		<% if current_user.following?(user) %>
        	<p><%= link_to 'フォロー中', user_relationships_path(user), method: :delete, class: "btn btn-info", "data-confirm" => "フォローを外しますか？" %></p>
        <% else %>
            <p><%= link_to 'フォローする', user_relationships_path(user.id), method: :post, class: "btn btn-default" %></p>
        <% end %>
    <% end %>
<% end %>