<!-- いいねボタンテンプレート -->
<p class="text-center">
	<!-- レシピにいいねしていた場合 -->
	<% if recipe.liked_by?(current_user) %>
		<!-- いいねを外す -->
		<%= link_to recipe_likes_path(recipe), method: :delete, "data-confirm" => "マイレシピから削除します。よろしいですか？", remote: true do %>
				<button type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-heart" style="color: tomato;"></span>
					<span><%= recipe.likes.count%>&nbsp;登録済みです</span>
				</button>
		<% end %>
	<% else %>
		<!-- いいねする -->
		<%= link_to recipe_likes_path(recipe), method: :post, remote: true do %>
			<button type="button" class="btn btn-warning">
				<span class="glyphicon glyphicon-heart" style="color: tomato;"></span>
				<span><%= recipe.likes.count %>&nbsp;お気に入りレシピに登録</span>
			</button>
		<% end %>
	<% end %>
</p>