<ul class="nav nav-tabs">
  	<li class="active"><a href="#ContentA" data-toggle="tab">投稿レシピ <span class="badge"> <%= user.recipes.count %> </span></a></li>
    <li><a href="#ContentB" data-toggle="tab">お気に入りレシピ <span class="badge"> <%= user.like_recipes.count %> </span></a></li>
    <li><a href="#ContentC" data-toggle="tab">フォロー中 <span class="badge"> <%= user.following_user.count %> </span></a></li>
    <li><a href="#ContentD" data-toggle="tab">フォロワー <span class="badge"> <%= user.follower_user.count %> </span></a></li>
</ul>