<div class="container about-main">
	<div class="row">
		<div class="about-main-title">
			<p><strong>S</strong>imple<strong>K</strong>itchen</p>
			<h3>毎日の料理を美味しく、シンプルに。</h3>
		</div>
		<div class="about-main-body">
			<h4>
				料理のレシピを投稿・共有するサイトです<br>
			</h4>
			<p>
				外出自粛で自炊する人が増加傾向にある中で、料理を時間や、献立のマンネリ化などの問題から<br>
				自炊疲れになる人が増加してきました。そこで簡単・短時間・低価格でできる料理レシピ<br>
				だけにフォーカスを当てた料理サイトを利用することでこれらの問題を抱えている人たちや、<br>
				普段からあまり、料理をしない人に対しても短時間で簡単なレシピを共有することができます。
			</p>
		</div>
	</div>
</div>
<div class="container about">
	<div class="row">
		<div class="col-cm-12 col-xs-12">
			<div class="about-title">
				<h2><span class="logo"><strong>S</strong>imple<strong>K</strong>itchen</span>の<span>３</span>つのコンセプト</h2>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12">
			<h3>1</h3>
			<h4>簡単</h4>
			<img class="about-image1"></img>
			<p>
				誰でも簡単につくれます。<br>
				難しい工程はありません。
			</p>
		</div>
		<div class="col-sm-4 col-xs-12">
			<h3>2</h3>
			<h4>短時間</h4>
			<img class="about-image2"></img>
			<p>
				10~15分以内で料理レシピです。<br>
				時短・アイデアレシピを見ることができます。
			</p>
		</div>
		<div class="col-sm-4 col-xs-12">
			<h3>3</h3>
			<h4>低価格</h4>
			<img class="about-image3"></img>
			<p>
				500円以内でできるレシピです。<br>
				料理時間を短縮するとともに節約レシピにもなってます。
			</p>
		</div>
		<div class="col-cm-12 col-xs-12">
			<p><%= link_to "レシピ一覧を見る", recipes_path, class: "top-button" %></p>
		</div>
	</div>
</div>
<div class="container about-index">
	<div class="row">
		<div class="about-index-contents">
			<div class="about-content">
				<h3><span class="logo"><strong>S</strong>imple<strong>K</strong>itchen</span>の使い方</h3>
			</div>
			<div class="about-content-item">
				<h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span>人気のレシピや新着のレシピを見ることができます</h4>
				<p>・人気のレシピや新着のレシピをランキング形式で見ることができます</p>
			</div>
			<div class="about-content-item">
				<h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span>一覧から気になるレシピをクリックすると、そのレシピの詳細情報が確認できます</h4>
				<p>・レシピ詳細ページでは、料理の作り方や材料などの詳細情報を確認できます</p>
			</div>
			<div class="about-content-item">
				<h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span>検索ボタンから、レシピを検索することができます</h4>
				<p>・レシピのタイトルや材料などのキーワードから関連したレシピを検索することができます</p>
			</div>
			<div class="about-content-item">
				<h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span>樹になるジャンルや種別、タグからレシピを見ることができます</h4>
				<p>・レシピにはそれぞれジャンル・種別が分類されており、いろいろなタグがついています</p>
				<p>・検索画面からジャンルや種別、タグを選択すると、関連したレシピ一覧をみおることができます</p>
			</div>
		</div>
		<div class="about-index-contents">
			<div class="about-content">
				<h3>会員登録すると利用できる機能</h3>
			</div>
			<div class="about-content-item">
				<h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span>レシピを投稿して共有することが目きます</h4>
				<p>・自分が考えたレシピを投稿して共有することができます。料理の写真や材料、作り方を記述します。</p>
			</div>
			<div class="about-content-item">
				<h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span>投稿するレシピにタグをつけることができます</h4>
				<p>・レシピには、色々なタグがついています。気分や場面に合わせて使ってみてください。
				きっと、新しいレシピとの出会いが待っています。<br>※タグは一つのレシピに対して複数つけることができます</p>
			</div>
			<div class="about-content-item">
				<h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span>レシピ作成者のプロフィールを見ることができます</h4>
				<p>・レシピ作成者のプロフィールにはその人が投稿したレシピやフォローフォロワーを見ることができます。</p>
			</div>
			<div class="about-content-item">
				<h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span>他のユーザをフォローすることができます</h4>
				<p>・ユーザをフォローすることでマイページから、フォローした人の一覧を見ることができます。気になるユーザーをフォローしましょう。</p>
			</div>
			<div class="about-content-item">
				<h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span>気に入ったレシピをお気に入りレシピとして保存することができます</h4>
				<p>・お気に入りレシピとして保存することでマイページからお気に入りレシピ一覧を見ることができます。</p>
			</div>
			<div class="about-content-item">
				<h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span>レシピに対してコメントをチェック・投稿することができます</h4>
				<p>・レシピ選びに迷ったら、参考になるのが口コミ。意外な発見が待っているかも。ご自身の感想も投稿して、みんなでレシピを共有しましょう。</p>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="about-box">
			<p>\\ さあ、実際に使ってみましょう！ //</p>
			<p><%= link_to "トップページへ", root_path, class: "top-button" %></p>
		</div>
	</div>
</div>
