/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
	height: 100%;
  width: 100%;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  /*background-image: image-url(/assets/top-image.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
}
a {
	color: black;
}
/*-----背景画像-----*/
.body-image {
  width: 100%;
  height: 100%;
  background-image: image-url("top-image2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -2;
}
.body-image2 {
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.15);
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

/*-----ヘッダー------*/
header {
  .title {
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
    position: fixed;
    left: 40px;
    top: 20px;
    font-size: 40px;
    z-index: 10;
    color: black;
    strong {
      font-size: 50px;
    }
  }
}

.alert {
  text-align: center;
  width: 100%;
  margin-top: 100px;
  height: 60px;
  font-size: 20px;
}

/*-----ハンバーガーメニュー------*/
#hm-icon{
  position: fixed;
  right: 35px;
  top: 18px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
#hm-icon {
  padding: 18px 10px 0px 10px;
}
.menu-trigger {
  position: relative;
  width: 35px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 35px;
  height: 4px;
  background-color: black;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 15px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 10px;
}
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(15px) rotate(-45deg);
  transform: translateY(15px) rotate(-45deg);
  background-color: black;
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-15px) rotate(45deg);
  transform: translateY(-15px) rotate(45deg);
  background-color: black;
}
/* ------ spメニュー ------ */
#sp-menu {
  position: absolute;
  position: fixed;
  right: 0;
  top: 0;
  background-color:rgba(0,0,0,0.8);
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
  font-size: 25px;
  a {
    font-size: 25px;
  }
  span {
    font-size: 30px;
  }
}
#sp-menu ul {
  width: 30%;
  min-height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #FFFFFF;
  list-style: none;
}
#sp-menu li {
  margin-left: 50px;
  margin-top: 30px;
}
#sp-menu li:nth-of-type(1) {
  margin-top: 100px;
}
#sp-menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
#sp-menu span {
  color: black;
}

/*-----検索フォームモーダル-----*/
.open-btn {
  font-size: 34px;
  position: fixed;
  right: 95px;
  top: 19px;
  z-index: 10;
  padding: 12px 11px 8px 11px;
}
.close-btn {
  font-size: 34px;
  position: fixed;
  right: 80px;
  top: 15px;
}
.modal{
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal__bg{
/*  background: rgba(255,255,255,0.8);*/
  background-color: #FFFFFF;
  height: 100%;
  position: absolute;
  width: 100%;
}
.modal__content {
  padding: 10px;
  height: 160px;
  position: fixed;
  left: 50%;
  position: absolute;
  top: 14%;
  transform: translate(-50%,-50%);
  width: 80%;
  input {
    height: 35px;
    width: 70%;
  }
  .search-btn {
    width: 20%;
    margin: 0;
  }
}
.search-form {
  padding: 35px;
  margin-left: 10%;
  font-size: 20px;
}

/*-----ジャンル・種別・タグモーダル一覧-----*/
.genre-modal, .type-modal, .tag-modal{
  display: none;
  height: 220%;
  position: fixed;
  left: 50%;
  position: absolute;
  top: 230%;
  transform: translate(-50%,-50%);
  width: 100%;
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
}
.modal-contents {
  margin-bottom: 20px;
  height: 235px;
  padding-top: 10px;
  border: 1px solid;
  box-shadow: 1.5px 1.5px 5px black;
  img {
    margin-bottom: 10px;
  }
  p {
    font-size: 18px;
  }
}
.tag-modal {
  h4 {
    font-size: 25px;
    padding-top: 30px;
  }
}

.genre-modal-open, .type-modal-open, .tag-modal-open, .ranks, .new_recipes {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}
.new_recipes {
  text-align: left;
}

/*-----メイン共通-----*/
main {
	min-height: 100%;
}

/*-----トップページ-----*/
.top-image {
  width: 100%;
  height: 900px;
}
.top-image-content {
  margin: auto;
  text-align: center;
  h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    color: black;
    padding-top: 270px;
    padding-bottom: 40px;
    margin: 0;
    text-shadow: 0px 0px 1px black;
    strong {
      font-size: 100px;
    }
  }
  h4 {
    font-size: 25px;
  }
  p {
    font-size: 20px;
    margin: 0 auto;
    width: 220px;
    margin-bottom: 50px;
    background: linear-gradient(transparent 60%, #ffddbc 0%);
  }
}
.top-image-body {
  margin-top: 330px;
  padding-bottom: 150px;
  text-align: center;
  color: black;
  font-size: 22px;
  font-weight: 600;
}
.top-image-text2 {
  margin-top: 40px;
  line-height: 40px;
}
.top-nav {
  margin-bottom: 200px;
  .col-xs-6 {
    margin-bottom: 15px;
  }
}
.top-contents {
  height: 200px;
}
.top-contents:hover {
  .top-content-text {
    padding: auto;
    span {
      transition: all, 0.2s;
      font-size: 110px;
    }
    h4 {
      font-size: 35px;
    }
  }
}
.top-content-text {
  text-align: center;
  color: black;
  span {
    font-size: 90px;
    margin-bottom: 25px;
    }
  h4 {
    font-size: 22px;
  }
}
.top-recipe-index {
  background-color: #F5F5F5;
  padding-bottom: 50px;
}

/*-----レシピ一覧-----*/
.recipe-index-contents {
  margin-top: 120px;
  padding: 10px;
  background-color: #FFFFFF;
}
.recipe-index {
  margin-bottom: 50px;
}
.recipe-items {
  padding-top: 10px;
  margin-bottom: 15px;
}
.recipes {
  padding: 5px;
  margin-bottom: 15px;
  background-color: #FFFFFF;
  box-shadow: 1.5px 1.5px 5px black;
  display: block;
  position: relative;
  .col-md-4 {
    padding-top: 8px;
  }
  h4 {
    font-size: 26px;
  }
}
.top-recipe-title {
  p {
    font-size: 30px;
    font-weight: 600;
    padding: 2px;
    background: linear-gradient(transparent 60%, #ffddbc 0%);
    span {
      color:  #CD853F;
      font-size: 40px;
    }
  }
}
.index-back {
  margin-top: 60px;
}
/*-----ログイン・登録ページ-----*/
.login {
  margin-top: 150px;
  background-color: silver;
  border : solid 1px #DCDCDC;
  padding: 1em 1em 0 1em;
  border: 4px solid #FFFFFF;
}
.top-image-modal-open {
  margin-top: 30px;
}
.top-recipe-title {
  margin: 30px;
}

/*-----レシピ詳細ページ------*/
.recipe-show {
  margin-top: 10px;
  tr {
    background: rgba(255,255,255,0.9);
  }
  .comment {
    p {
      margin-top: 25px;
      font-size: 16px;
    }
  }
  h3 {
    font-size: 30px;
    font-weight: 600;
    background: rgba(255,255,255,0.8);
    padding: 10px;
    border-bottom: solid 1.5px black;
    span {
      font-size: 35px;
    }
  }
}
.recipe-user {
  padding: 40px;
  background-color: #FFFFFF;
  margin-top: 120px;
  .col-sm-9 {
    h4 {
      font-size: 20px;
    }
  }
  .material, .make {
    margin-top: 30px;
  }
}
.recipe-show-title {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
  background: linear-gradient(transparent 60%, #ffddbc 0%);
  span {
    font-size: 40px;
    color:  #CD853F;
  }
}

/*-----レシピコメントモーダル-----*/
.comment-modal-content {
  display: none;
}

/*-----レシピ投稿・編集ペーシ-----*/
.recipe-form {
  margin-top: 120px;
  background-color: #FFFFFF;
  padding-bottom: 40px;
  .form-group {
    padding: 1px 5px;
  }
  .select {
    margin: 40px 0;
  }
  .select-top {
    margin: 70px 0 40px 0;
  }
  .recipe-title {
    margin-top: 40px;
  }
  h3 {
    font-size: 30px;
    font-weight: 600;
    background: rgba(255,255,255,0.8);
    padding: 10px;
    background: linear-gradient(transparent 60%, #ffddbc 0%);
    margin-bottom: 30px;
    span {
      font-size: 35px;
      color:  #CD853F;
    }
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 19px;
  }
  label {
    font-size: 18px;
    padding-right: 15px;
  }
  .col-md-7 {
    h4 {
      background: rgba(255,255,255,0.8);
    }
  }
}
.form-box {
  background: rgba(50,100,0,0.9);
  margin: 1em 0;
  padding: 1em 1em 0 1em;
  border: 8px solid #a60;
  box-shadow: 2px 2px 4px #999, 2px 2px 2px #020 inset;
  color: #FFFFFF;
}
.form-box-title {
    font-size: 19px;
    text-shadow: 0px 0px 1px #fff;
}
.form-box-body {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 0;
    font-size: 17px;
    text-shadow: 0px 0px 1px #fff;
}
.chalk1{
  display: block;
  margin-top: 10px;
  margin-left: 90%;
  border: solid 3px #fff;
  width: 15px;
  border-radius: 3px 2px 0 2px;
}
.chalk2{
  display: block;
  margin-top: -6px;
  margin-left: calc(90% - 30px);
  border: solid 3px #ffee58;
  width: 20px;
  border-radius: 3px 2px 0 2px;
}
.btn-lg {
  font-size: 24px;
}

/*-----レシピ投稿・編集確認ページ-----*/
.recipe-confirm {
  margin-top: 120px;
  background-color: #FFFFFF;
  padding-bottom: 40px;
  h3 {
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    background: linear-gradient(transparent 60%, #ffddbc 0%);
    margin-bottom: 30px;
    span {
      font-size: 35px;
      color:  #CD853F;
    }
  }
  h4 {
    font-size: 25px;
    padding: 5px;
    border-bottom: 1px solid;
  }
  h5 {
    font-size: 22px;
    padding: 5px;
    border-bottom: 1px solid;
  }
  table {
    font-size: 18px;
    margin-top: 20px;
  }
  span {
    font-size: 15px;
  }
  p {
    font-size: 20px;
    span {
      font-size: 25px;
    }
  }
  .confirm-content {
    margin-top: 50px;
  }
  .btn {
    font-size: 18px;
  }
}


/*-----ユーザー詳細ペーシ-----*/
.user-profile {
  margin-top: 120px;
  margin-bottom: 40px;
  padding: 40px;
  background-color: #FFFFFF;
  .user-show-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    background: linear-gradient(transparent 60%, #ffddbc 0%);
    span {
      font-size: 40px;
      color:  #CD853F;
    }
  }
  h3 {
    font-size: 28px;
    span {
      font-size: 35px;
    }
  }
  h4 {
    margin-top: 35px;
  }
  .btn {
    margin-top: 10px;
  }
}
.user-show {
  margin-top: 50px;
  tr {
    background: rgba(255,255,255,0.9);
    border-bottom: solid 2px silver;
    h4 {
      margin-top: 10px;
      font-size: 14px;
    }
    .btn {
      margin-top: 40px;
    }
  }
  li {
    font-size: 16px;
    color: black;
  }
  .tab-content {
    h4 {
      font-size: 16px;
    }
    h3 {
      color: black;
    }
  }
  td {
    .row {
      margin-top: 30px;
    }
  }
}
.user-show-nav {
  padding: 15px;
}
.image-select {
  margin-top: 30px;
}

/*-----ユーザ情報編集ページ-----*/
.user-profile-edit {
  margin-top: 120px;
  margin-bottom: 40px;
  background-color: #FFFFFF;
  padding-bottom: 40px;
  h3 {
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    background: linear-gradient(transparent 60%, #ffddbc 0%);
    margin-bottom: 30px;
    span {
      font-size: 30px;
      color:  #CD853F;
    }
  }
  h4 {
    font-size: 20px;
    border-bottom: solid 1.5px black;
    padding: 10px;
  }
  h5 {
    font-size: 19px;
  }
  .btn-lg {
    margin-top: 50px;
  }
  .img-circle {
    margin-bottom: 30px;
  }
}
.tab{overflow:hidden;}
.tab li{background:#ccc; padding:5px 25px; float:left; margin-right:1px;}
.tab li.select{background:#eee;}
.tab-content li{background:#eee; padding:20px;}
.hide {display:none;}


/*-----フッター-----*/
footer {
	width: 100%;
	height: 60px;
	margin-top: 50px;
  background-color: #9E9E9E;
  text-align: center;
  z-index: 1;
}
footer .copyright {
  float: left;
  width: 50%;
  background-color: #9E9E9E;
}
footer .copyright p {
  font-family: 'Amatic SC', cursive;
  font-size: 15px;
  line-height: 70px;
  padding-left: 10%;
  letter-spacing: 1px;
  color: black;
  font-size: 14px;
  background-color: #9E9E9E;
}
footer .sns {
  float: right;
  width: 50%;
}
footer .sns a {
  font-weight: bold;
  line-height: 80px;
  float: left;
  -webkit-transition: all, 0.3s;
          transition: all, 0.3s;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
footer .sns a:hover {
  -webkit-transition: all, 0.3s;
          transition: all, 0.3s;
  background-color: #222222;
}
footer .sns .insta {
  font-size: 1.2em;
  width: 20%;
  height: 100%;
  background-color: #e4405f;
}
footer .sns .fb {
  font-size: 1.2em;
  width: 20%;
  background-color: #3b5999;
}
footer .sns .tw {
  font-size: 1.2em;
  height: 100%;
  width: 20%;
  background-color: #55acee;
}
footer .sns .contact {
  font-size: 0.8em;
  width: 40%;
  background-color: #26C6DA;
}

/*-----レシピ投稿確認ページ-----*/
.confirm-btn {
  margin-top: 30px;
}

/*-----レスポンシブ　スマホ-----*/
/*-----フッター-----*/
@media (max-width: 767px) {
  .contents {
    margin-bottom: 200px;
  }
  footer {
    height: auto;
  }
  footer .copyright {
    width: 100%;
  }
  footer .copyright p {
    padding: 0;
    text-align: center;
  }
  footer .sns {
    width: 100%;
  }
  #sp-menu ul {
    width: 50%;
    a {
      font-size: 25px;
    }
  }
/*-----ユーザ詳細ページ-----*/
  .genre-modal {
    .img-responsive {
      height: 100px;
    }
  }
/*-----ユーザ詳細ページ-----*/
  .user-show {
    td {
      .row {
        margin-top: 10px;
      }
    }
  }
/*-----ユーザ詳細ページ-----*/
  .recipe-user {
    .col-sm-3, .col-sm-9 {
      margin-top: 20px;
    }
  }
}
/*-----レシピ一覧-----*/
@media screen and (min-width:767px) {
  .recipes {
    .img-responsive {
      height: 300px;
    }
  }
}

/*-----トップページボタン-----*/
a.top-button {
  margin: 20px;
  position: relative;
  text-decoration: none;
  transition: .15s ease-out;
  -webkit-transform: translateZ(0);
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 3rem;
  padding: 1.2rem 5rem 1.2rem 3rem;
  color: inherit;
  text-align: center;
  line-height: 1;
  box-shadow: 0 2px 0 #614f38;
  text-decoration: none;
  font-size: 20px;
  background: rgba(255,255,255,0.9);
  // arrow
  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
  }
  &:before {
    right: 2rem;
    width: .7rem;
    height: 1px;
    background: #614f38;
  }
  &:after {
    right: 20px;
    width: 6px;
    height: 6px;
    border-top: 1px solid #614f38;
    border-right: 1px solid #614f38;
    transform: rotate(45deg);
  }
  &:hover {
    color:#fff;
    background-color: #614f38;
    transform: translateY(2px);
    box-shadow: 0 0 0 rgba(245, 209, 0, 0.75);
    opacity: 1;
    &:before {
      background-color: #fff;
    }
    &:after {
      border-color: #fff;
    }
  }
}

/*-----リボン-----*/
.ribbon {
  z-index: 5;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 10px;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: white;
  background: #ff7470;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.1);
}
.ribbon:before {
  position: absolute;
  content: '';
  top: -8px;
  left: -7px;
  border: none;
  height: 38px;
  width: 7px;
  background: #ff7470;
  border-radius: 5px 0 0 5px;
}
.ribbon:after {
  position: absolute;
  content: '';
  top: -7px;
  left: -5px;
  border: none;
  height: 7px;
  width: 5px;
  background: #b25552;
  border-radius: 5px 0 0 5px;
}

/*-----通知------*/
.notification {
  margin-top: 120px;
  background-color: #FFFFFF;
  h3 {
    font-size: 25px;
    background: linear-gradient(transparent 60%, #ffddbc 0%);
    width: 100px;
    margin: 15px auto;
  }
  .notification-items {
    p {
    padding: 5px;
    border-bottom: solid 0.5px silver;
    }
  }
  h5 {
    font-size: 20px;
    i {
      font-size: 25px;
    }
  }
  h4 {
    margin: 20px auto;
  }
  h2 {
    text-align: center;
    .top-button {
    font-size: 16px;
    margin: 30px auto;
    }
  }
}
/*-----通知アイコン-----*/
.notification-icon {
  position: fixed;
  right: 168px;
  top: 35px;
  z-index: 10;
  .fas {
    font-size: 38px;
  }
  .fa {
    position: fixed;
    right: 165px;
    top: 25px;
    z-index: 11;
    font-size: 20px;
  }
}


/*-----トップページシャッターアニメーション-----*/
.shutter{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#1e1e1e;
  z-index:9999;
  animation: byeShutter 1.6s forwards;

  &::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    margin:auto;
    background-color:#f3f3f3;
    width:0;
    height:1px;
    animation: shutterOpen 1.6s forwards;
  }
}

.content{
  animation: contentScale 2s forwards;
}

@keyframes byeShutter{
  70%{
    opacity:1;
  }
  100%{
    opacity:0;
    display:none;
    z-index:-1;
  }
}

@keyframes shutterOpen{
  0%{
    width:0;
    height:1px;
  }
  50%{
    width:100%;
    height:1px;
  }
  90%{
    width:100%;
    height:100%;
  }
  100%{
    width:100%;
    height:100%;
  }
}

@keyframes contentScale{
  70%{
    transform:perspective(800px) scale(0.9) rotateX(15deg);
  }
  100%{
    transform:perspective(800px) scale(1) rotateX(0);
  }
}

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}
