// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*-----aboutページ-----*/
.about-main {
	height: 600px;
	text-align: center;
	margin: 120px 20px auto;
	background-color: #FFFFFF;
	.about-main-title {
		margin-top: 110px;
		p {
			font-size: 60px;
			font-family: 'Amatic SC', cursive;
		}
		strong {
			font-size: 80px;
			font-family: 'Amatic SC', cursive;
		}
		h3 {
			font-size: 40px;
			background: linear-gradient(transparent 60%, #ffddbc 0%);
			margin: 30px auto;
			width: 720px;
			text-align: center;
		}
	}
	.about-main-body {
		margin: 40px auto;
		h4 {
			font-size: 20px;
			margin-bottom: 20px;
		}
		p {
			font-size: 18px;
			margin: 10px auto;
		}
	}
}

.about {
	background-color: #FFFFFF;
	height: 900px;
	text-align: center;
	margin: 20px auto;
	h2 {
		margin: 40px auto;
		font-size: 40px;
		background: linear-gradient(transparent 60%, #ffddbc 0%);
		width: 720px;
		.logo {
			font-family: 'Amatic SC', cursive;
			strong {
				font-size: 50px;
			}
		}
	}
	h3 {
		font-family: 'Amatic SC', cursive;
		font-size: 50px;
		margin: 35px auto;
	}
	h4 {
		background: linear-gradient(transparent 60%, #ffddbc 0%);
		margin: 25px auto;
		width: 100px;
		font-size: 25px;
	}
	img {
		height: 250px;
		width: 100%;
		.about-image1 {
			background-image: image-url("about_image1.jpg");
  			background-size: cover;
		}
		.about-image2 {
			background-image: image-url("about_image2.jpg");
  			background-size: cover;
		}
		.about-image3 {
			background-image: image-url("about_image3.jpg");
 			 background-size: cover;
		}
	}
	p {
		font-size: 18px;
		margin: 30px auto;
	}
	.top-button {
		margin: 30px auto;
	}

}

.about-index {
	background-color: #FFFFFF;
	margin: 20px auto;
	.about-content {
		text-align: center;
		margin-top: 50px;
		padding-bottom: 50px;
		border-bottom: solid silver 0.5px;
		h3 {
			font-size: 40px;
			margin: 0 auto;
			background: linear-gradient(transparent 60%, #ffddbc 0%);
			width: 600px;
			.logo {
			font-family: 'Amatic SC', cursive;
			}
			strong {
				font-size: 50px;
			}
		}
	}
	.about-content-item {
		padding: 30px 20px;
		border-bottom: solid silver 0.5px;
		h4 {
			font-size: 24px;
			font-weight: 600;
			margin: 10px 0;
			span {
				color: yellow;
			}
		}
		p {
			margin-top: 20px;
			font-size: 18px;
		}
	}

}
.about-box {
	margin: 0 auto;
	background-color: #FFFFFF;
	padding: 80px 0;
	text-align: center;
	p {
		margin-bottom: 40px;
		font-size: 35px;
		font-weight: 600;
	}
	.top-botton {
		padding: 20px;
	}
}







