<% if model.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
        <% model.errors.full_messages.each do |message| %>
            <ul>
            	<li><%= message %></li>
            </ul>
        <% end %>
    </div>
<% end %>
